*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

.hero{
    height:100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url('assets/hero/hero-img2.avif');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    color: gold;
}

section h2{
    color:#008080;
}


.menu-card{
    transition: 0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    border: none;
}

.menu-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.btn:hover{
    transform:scale(1.02);
}

.btn{
    transition:0.3s;
    background-color: gold;
}

.review-card{
    background:#fffdf7;
    transition: 0.3s;
}

.review-card:hover{
    transform: translateY(-10px);
}

.contact-card:hover{
    background:#fff8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(2, 6, 23, 0.95);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: var(--accent-gold);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-light);
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--accent-gold);
}
